<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Take a bite!{{else}}Don't Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Garbage (Delete)!</button>
</li>
